<div class="ui secondary  menu" style="background-color: #212121;">
  <a href="/" class="item active" style = " color: aliceblue">
    Home
  </a>
  <a href="liste" class="item" style = " color: aliceblue">
    Liste des voitures
  </a>
  <a href="gestion" class="item" style = " color: aliceblue">
    Gestion des voitures
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item" style = " color: aliceblue">
      Logout
    </a>
  </div>
</div>
