<app-header></app-header>
<div class="baniere">
  <img class = "baniereImg" src="../assets/images/header.jpg" />
</div>
<h2 class="ui header" style = "z-index: 1000; background: aliceblue; position: relative; bottom: 25px;">
  <img src="../assets/images/iconeHeader.png" class="ui circular image center">
  garage Silvestre and co
</h2>
<router-outlet></router-outlet>
<app-footer></app-footer>
